<div class="custom-table" *ngIf='employees && employees.length'>
  <div class="row-wrap heading">
    <div>First & Last Name</div>
    <div>Role</div>
    <div>Experience</div>
    <div class="exit">Remove</div>
  </div>
  <div class="row-wrap" *ngFor='let employee of employees, let index=index' (mouseover)='hoveredIndex=index'  [routerLink]="['/details', employee]">
    <div>{{ employee.firstName }} {{ employee.lastName }}</div>
    <div>{{ employee.role }}</div>
    <div>{{ employee.experience }} Months</div>
    <div class="display-on-hover" *ngIf="index==hoveredIndex"> Employee short description: <br>{{employee.shortDescription}}</div>
    <div class="exit" (click)="removeItem(index)">  
          <span class="glyphicon glyphicon-remove"></span>
        </div>
  </div>
</div>
