.custom-table {
    .row-wrap {
        display: flex;
        width: 100%;
        // justify-content: 
        position: relative;
        transition: .3s linear all;
        >div {
            padding: 10px;
            border-right: 1px solid #f9f9f9;
            width: calc(90% / 3);
            text-align: center;
        }
        .exit {
            width: 10%;
            &:hover {
                cursor: pointer;
            }
        }
        .display-on-hover {
            padding: 5px 10px;
            position: absolute;
            display: block;
            text-align: left;
            opacity: .9;
            left: 20%;
            transform: translateX(-50%);
            bottom: 100%;
            z-index: 2;
            background-color: #2d3a4c;
            width: 50%;
            max-width: 250px;
            color: #fff;
            transition: inherit;
            &:before {
                content: '';
                position: absolute;
                left: 20%;
                top: 100%;
                width: 0;
                height: 0;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 5px solid #2d3a4c;
            }
                

            
        }
        &.heading {
            >div {
                background-color: #0091cf;
                color: #fff;
                border-bottom: 1px solid #f9f9f9;
                font-weight: bold;
            }
           
        }
    }
}